@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

.modal-component {
    display: none;
    position: fixed;
    inset: 0;
    overflow-y: auto;
    background-color: variables.$background-secondary;
    z-index: 10;

    // Modal Close Animation
    @include mixins.animate-fade-out;

    &.open {
        display: block;
        // Modal Open Animation
        @include mixins.animate-fade-in;
    }

    .modal-header {
        max-width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 4rem;
        padding: 0 1.5rem;

        .modal-close-button {
            background-color: unset;
            color: variables.$text-primary;
            border: unset;
            font-size: 2rem;
            line-height: 2rem;
            cursor: pointer;
        }
    }
}