@use "../../../styles/variables.scss";

.profile-banner {
    padding: variables.$vert-xl variables.$vert-md variables.$vert-lg variables.$vert-md;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .headshot-wrapper {
            position: relative;
            border-radius: 100%;
            overflow: hidden;
            width: 7.5rem;
            height: 7.5rem;
            border: 4px solid variables.$accent-color;
            margin-bottom: variables.$vert-md;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .name {
            margin-bottom: variables.$vert-sm;
        }

        .role,
        .tagline {
            font-size: 1.25rem;
            line-height: 1.75rem;
        }

        .role {
            margin-bottom: variables.$vert-xs;
        }

        .tagline {
            margin-bottom: variables.$vert-mdlg;
        }
    }
}