@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

.profile-banner {
    padding: variables.$vert-xl 0 variables.$vert-lg 0;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .headshot-wrapper {
            position: relative;
            border-radius: 100%;
            overflow: hidden;
            width: 7.5rem;
            height: 7.5rem;
            border: 4px solid variables.$accent-color;
            margin-bottom: variables.$vert-md;

            // Image Animation
            @include mixins.animate-pop-in;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .name {
            margin-bottom: variables.$vert-sm;

            // name Animation
            @include mixins.animate-fade-in;

            animation-delay: 0.3s;
        }

        .role,
        .tagline {
            font-size: 1.25rem;
            line-height: 1.75rem;

            // Animation
            @include mixins.animate-fade-in;
        }

        .role {
            margin-bottom: variables.$vert-xs;
            animation-delay: 0.6s;
        }

        .tagline {
            margin-bottom: variables.$vert-mdlg;
            animation-delay: 0.8s;
        }
    }

    .description {
        // Description Animation
        @include mixins.animate-fade-in;
        animation-delay: 0.8s;
    }
}