@use "../../../styles/variables.scss";

.project-showcase-component {
    position: relative;
    width: 100%;

    .inner {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 8%;

        @media (max-width: variables.$breakpoint-tablet) {
            gap: 0.25rem;
        }


        .image-container {
            position: relative;
            width: 43%;
            aspect-ratio: 1/1;
            overflow: hidden;
            border-radius: 100%;

            @media (max-width: variables.$breakpoint-tablet) {
                width: 100%;
                max-width: 448px;
            }
        }

        .project-overview {
            width: 48%;

            @media (max-width: variables.$breakpoint-tablet) {
                width: 100%;
            }

            .truncate {
                max-height: 300px;
                overflow: hidden;
                margin-bottom: variables.$vert-sm;
                position: relative;

                &.truncated::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100px;
                    background: linear-gradient(transparent, variables.$background-primary);
                }
            }
        }
    }

}