@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

.project-showcase-component {
    position: relative;
    width: 100%;

    &.inverted {
        .inner {
            flex-direction: row-reverse;
        }
    }

    .inner {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 8%;

        @media (max-width: variables.$breakpoint-tablet) {
            gap: 0.25rem;
        }


        .image-container {
            position: relative;
            width: 43%;
            aspect-ratio: 1/1;
            overflow: hidden;
            border-radius: 100%;

            // Image Animation
            @include mixins.animate-pop-in;

            @media (max-width: variables.$breakpoint-tablet) {
                width: 100%;
                max-width: 448px;
            }
        }

        .project-overview {
            width: 48%;

            @media (max-width: variables.$breakpoint-tablet) {
                width: 100%;
            }

            .truncate {
                max-height: 300px;
                overflow: hidden;
                margin-bottom: variables.$vert-sm;
                position: relative;

                // Description Animation
                @include mixins.animate-swipe-fade-in;

                &.truncated::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100px;
                    background: linear-gradient(transparent, variables.$background-primary);
                }
            }

            .learn-more-button {
                animation-delay: 0.3s !important;
                // Button Animation
                @include mixins.animate-fade-in;
            }
        }

        .modal-content {
            .modal-image-container {
                position: relative;
                width: 100%;
                max-width: 256px;
                aspect-ratio: 1/1;
                overflow: hidden;
                border-radius: 100%;
                margin: 0 auto variables.$vert-mdlg auto;
            }

            .modal-content-close-button {
                margin: 3rem 0;
            }
        }
    }

}