@use "../../../styles/variables.scss";

// DESKTOP
.page-nav-desktop-component {
    background-color: variables.$background-secondary;
    color: variables.$text-primary;
    padding-top: variables.$vert-sm;
    padding-bottom: variables.$vert-sm;
    border-bottom: 2px solid variables.$accent-color;
    position: sticky;
    top: 0;
    z-index: 5;

    @media screen and (max-width: variables.$breakpoint-mobile-max) {
        display: none;
    }

    .inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;

        .nav-item {
            font-size: 1rem;
            line-height: 1.5rem;
            cursor: pointer;

            &.active {
                color: variables.$accent-color;
            }
        }
    }
}

// MOBILE
.page-nav-mobile-component {
    position: relative;
    background-color: variables.$background-secondary;
    color: variables.$text-secondary;
    padding-top: variables.$vert-sm;
    padding-bottom: variables.$vert-sm;
    border-bottom: 2px solid variables.$accent-color;
    position: sticky;
    top: 0;
    z-index: 5;

    @media screen and (min-width: variables.$breakpoint-mobile) {
        display: none;
    }

    .active-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
}

.mobile-menu-modal {
    .nav-items {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav-item {
        width: 100%;
        text-align: center;
        font-size: 1.875rem;
        line-height: 1.25;
        padding: variables.$vert-sm 0;
        cursor: pointer;
        transition: variables.$transition;

        &:hover,
        &:focus {
            color: variables.$accent-color;
        }
    }
}