@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

.footer-component {
    background-color: variables.$background-secondary;
    width: 100%;
    padding: variables.$vert-lg 0;

    .inner {
        .contact-heading {
            text-align: center;
            margin-bottom: variables.$vert-mdlg;

            // Heading Animation
            @include mixins.animate-fade-in;
        }

        .contacts {
            display: flex;
            flex-wrap: wrap;
            gap: 3rem;
            justify-content: center;

            @media (max-width: variables.$breakpoint-mobile) {
                gap: 2rem;
                flex-direction: column;
            }

            .contact {
                text-decoration: none;
                color: variables.$text-primary;
                font-size: 1rem;
                line-height: 1.5rem;
                display: flex;
                align-items: center;

                // Contact Link Animation
                @include mixins.animate-fade-in;

                &:hover {
                    color: variables.$accent-color;

                    svg path {
                        stroke: variables.$accent-color;
                    }
                }

                svg {
                    width: 1.25rem;
                    margin-right: 0.75rem;
                }
            }
        }
    }

}