@use "../styles/variables.scss";

.home-page-container {
    .experience-section {
        margin-bottom: variables.$vert-lg;

        .experience-header {
            margin-bottom: 3rem;
            text-align: center;
        }

        .experiences-list {
            display: flex;
            flex-direction: column;
            gap: variables.$vert-lg;
        }
    }
}