@use "../styles/variables.scss";
@use "../styles/mixins.scss";

.home-page-container {
    .experience-section {
        margin-bottom: variables.$vert-lg;

        .experience-header {
            margin-bottom: 3rem;
            text-align: center;

            // Experiences Header Animation
            @include mixins.animate-fade-in;
        }

        .experiences-list {
            display: flex;
            flex-direction: column;
            gap: variables.$vert-lg;
        }
    }
}