@mixin animate-pop-in {
    @keyframes popIn {
        0% {
            opacity: 0;
            transform: scale(0.3);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    opacity: 0;
    transform: scale(0.3);

    animation: popIn 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

@mixin animate-fade-in {
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    opacity: 0;
    animation: fadeIn 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

@mixin animate-fade-out {
    @keyframes fadeOut {
        0% {
            opacity: 1;
            display: block;
        }

        99% {
            display: block;
        }

        100% {
            opacity: 0;
            display: none;
        }
    }

    opacity: 1;
    animation: fadeOut 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

@mixin animate-swipe-fade-in {
    @keyframes swipeFadeIn {
        0% {
            opacity: 0;
            transform: translateY(25%);
        }

        20% {
            transform: translateY(0);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    opacity: 0;
    transform: translateY(25%);
    animation: swipeFadeIn 0.6s linear forwards;
}

@mixin animate-slide-fade-in {
    @keyframes swipeFadeIn {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }

        20% {
            transform: translateX(0);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    opacity: 0;
    transform: translateX(100%);
    animation: swipeFadeIn 0.6s linear forwards;
}