@mixin animate-pop-in {
    @keyframes popIn {
        0% {
            opacity: 0;
            transform: scale(0.3);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    opacity: 0;
    transform: scale(0.3);
    animation: popIn 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

@mixin animate-fade-in {
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    opacity: 0;
    animation: fadeIn 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}