@use "variables";
@use "margins";

// Disable animations while the data attribute indicating an element haqs not yet
// been scrolled into view is present. This prevents unwanted animations on page load
[data-detect-scroll-in] {
  animation: unset !important;
}

body {
  background-color: variables.$background-primary;
  color: variables.$text-primary;
  margin: 0;

  // Used to style the background of the Storybook canvas area
  .docs-story {
    background-color: variables.$background-secondary;
  }

  &.disable-scroll {
    overflow: hidden;
  }

  font-family: ui-sans-serif,
  system-ui,
  sans-serif;

  h1 {
    font-size: 3rem;
    line-height: 1;
  }

  h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    color: variables.$text-secondary;
  }

  a {
    text-decoration: none;
    color: variables.$accent-color;
  }

  p,
  ol,
  ul,
  pre {
    color: variables.$text-secondary;
    margin-top: 0;
    margin-block-end: 0;

    &:not(:last-child) {
      margin-bottom: variables.$vert-sm;
    }
  }
}

.gql-sandbox {
  position: relative;
  height: 100vh;

  &>div {
    height: 100vh;
  }
}