@import "tailwindcss";
@import "variables";
@import "margins";

body {
  background-color: $background-primary;
  color: $text-primary;

  font-family: ui-sans-serif, system-ui, sans-serif;

  h1 {
    font-size: 3rem;
    line-height: 1;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    color: $text-secondary;
  }

  p,
  ol,
  ul,
  pre {
    color: $text-secondary;

    &:not(:last-child) {
      margin-bottom: $vert-sm;
    }
  }
}

.gql-sandbox {
  position: relative;
  height: 100vh;

  &>div {
    height: 100vh;
  }
}