@use "variables";
@use "margins";

body {
  background-color: variables.$background-primary;
  color: variables.$text-primary;

  // Used to style the background of the Storybook canvas area
  .docs-story {
    background-color: variables.$background-secondary;
  }

  font-family: ui-sans-serif,
  system-ui,
  sans-serif;

  h1 {
    font-size: 3rem;
    line-height: 1;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    color: variables.$text-secondary;
  }

  p,
  ol,
  ul,
  pre {
    color: variables.$text-secondary;

    &:not(:last-child) {
      margin-bottom: variables.$vert-sm;
    }
  }
}

.gql-sandbox {
  position: relative;
  height: 100vh;

  &>div {
    height: 100vh;
  }
}