// COLORS
$background-primary: #18181B;
$background-secondary: #09090B;
$text-primary: #FFFFFF;
$text-secondary: #D1D5DC;
$accent-color: #00B4D8;

// MARGINS
$vert-xl: 6.25rem;
$vert-lg: 4rem;
$vert-md: 1.5rem;
$vert-sm: 1rem;
$vert-xs: 0.5rem;